<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ooredoo Login</title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>
  <div class="wrapper">
    <div class="container main">
      <div class="row">
        <div class="col-md-6 right">
          <form (ngSubmit)="userLogin()" #loginForm="ngForm">
            <div class="input-box">
              <header><img style="width: 100%;" src="assets/menu.png" ></header>
              <div class="input-field">
                <input type="text" [(ngModel)]="user.username" name="username" class="input" id="username" required autocomplete="off"> 
                <label for="username">Username</label>
              </div>
              <div class="input-field">
                <input type="password" [(ngModel)]="user.password" name="password" class="input" id="password" required > 
                <label for="password">Password</label>
              </div>
              <div class="input-field">
                <button type="submit" class="submit" [disabled]="!loginForm.form.valid">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 
</body>
</html>
